.profile{
    .flag-wrapper{
        right: calc(15.3333% - 56px);
        top: 31%;
        transform: translateY(-50%);
        @media (max-width: 767px){
            display: none;
        }
    }
}