.layout{
    &-wrapper{
        display: flex;
    }
    &-top-nav{
        height: calc(100% - 70px);
        min-height: 100%;
        position: fixed;
        width: 100%;
    }
    &-sidebar{
        min-height: calc(100vh - 60px);
        transition: all .3s;
        width: 20rem !important;
        font-size: 1rem;
        padding: 1.5rem 0.5rem;
        color: white !important;
        position: fixed;
        z-index: 900;
        top: 60px;
    }
    &-content{
        background-color: #f8f9fa;
        overflow-x: hidden;
        width: 100%;
        padding: 1rem;
        margin-top: 60px;
        margin-left: 20rem;
        min-height: calc(100vh - 60px);
    }
}
.nav-container{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
}
