@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Sans:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

@import './styles/dnd';
@import './styles/toast';
@import './styles/profile';

body{
    /* font-family: 'DM Serif Display', serif;
    font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #303030;
    font-size: 18px;
    height: 100vh;
}