// custom color bootstrap
$theme-colors: (
  "primary": #167396,
  "danger": #e52246,
  "success": #0cd36c,
  "secondary": #3c4142,
  "form-invalid-color": #e52246,
  "form-invalid-border-color": #e52246,
);

@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=IBM+Plex+Sans:wght@300;400&family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

@import './styles/dnd';
@import './styles/toast';
@import './styles/profile';
@import './styles/sidebar';

body{
    /* font-family: 'DM Serif Display', serif;
    font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 18px;
    height: 100vh;
}

a{
  color: map-get($theme-colors, "primary");
}

.btn.btn-primary, .btn.btn-danger, .btn.btn-secondary{
  color: white !important;
}
.invalid-feedback {
  color: map-get($theme-colors, "danger") !important;
}
.invoice{
  font-size: 1rem;
}
.layout-sidebar{
  background-color: rgba(map-get($theme-colors, "primary"), 0.5);
}

.m_pointer{cursor: pointer !important;}
.modal_no_storage{max-width: 600px !important;}
.modal_buy_additional_storage{max-width: 600px !important;}
.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: map-get($theme-colors, "danger") !important;
}
.placeholder-danger::placeholder {
  color: map-get($theme-colors, "danger");
}
