.register{
    position: relative;
    height: 100vh;
    width: 100%;
    .card{
        width: 100%;
    }
    .logo-wrapper{
        text-align: center;
        padding-bottom: 1rem;
        img{
            width: 250px;
        }
    }
}